EXPO_NO_DOTENV=1
EXPO_NO_CLIENT_ENV_VARS=1
SENTRY_AUTH_TOKEN=
SENTRY_PROJECT=
SENTRY_ORGANIZATION=

APP_PUBLIC_SENTRY_DSN=
APP_PUBLIC_API_BASEURL=https://www.nodeseek.com/
APP_PUBLIC_SITE_URL=https://www.nodeseek.com/
APP_PUBLIC_GITHUB_URL=https://github.com/mrzhiin/seekmate

APP_RELEASE_STORE_FILE=
APP_RELEASE_STORE_PASSWORD=
APP_RELEASE_KEY_ALIAS=
APP_RELEASE_KEY_PASSWORD=
